.container {
    height: 250px;
    background-color: red;
    color: azure;
    font-size: 50px;
    margin: 20px;
}

.container-fluid {
    height: 250px;
    background-color: red;
    color: azure;
    font-size: 50px;
    margin: 20px;
}

.row {
    background-color: rgb(2, 156, 245);
    border: 3px solid cyan;
    padding: 5px;
    margin: 10px;
}

.col {
    background-color: rgb(2, 156, 245);
    border: 2px solid cyan;
    font-size: 50px;
    color: white;
}


.principal {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

button {
    background-color: transparent;
    width: 100px; 
    height: 40px;
    text-align: center;
    border: none;
}

img {
    vertical-align: top;
}

.stats_recuadro{
    border-radius: 15px;
    border: 4px solid #005baa;
    padding: 0px; 
    gap: 0px;
    width: 285px;
    height: 80px;
    color: white;
}


.stats_grafico{
    border-radius: 15px;
    border: 4px solid #005baa;
    padding: 0px; 
    gap: 0px;
    width: 1053px;
    height: 198px;
    color: white;
}