.principal {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

button {
    background-color: transparent;
    width: 100px; 
    height: 40px;
    text-align: center;
    border: none;
}

img {
    vertical-align: top;
}

.stats_recuadro{
    border-radius: 15px;
    border: 4px solid #005baa;
    padding: 0px; 
    gap: 0px;
    width: 18.6vw;
    height: 31vh;
    color: white;
    max-width: 280px;
    max-height: 80px;
}


.stats_grafico{
    border-radius: 15px;
    border: 4px solid #005baa;
    padding: 0px; 
    gap: 0px;
    width: 69vw;
    height: 13vw;
    color: white;
}