.container {
    height: 250px;
    background-color: red;
    color: azure;
    font-size: 50px;
    margin: 20px;
}

.container-fluid {
    height: 250px;
    background-color: red;
    color: azure;
    font-size: 50px;
    margin: 20px;
}

.row {
    background-color: rgb(2, 156, 245);
    border: 3px solid cyan;
    padding: 5px;
    margin: 10px;
}

.col {
    background-color: rgb(2, 156, 245);
    border: 2px solid cyan;
    font-size: 50px;
    color: white;
}


.principal {
    font-size: 40px;
    color: black;
    font-weight: 600;
}

button {
    color: white; 
    border-radius: 10px;
    background-color: white;
    width: 50px; 
    height: 50px;
    text-align: center;
}
/*border-radius: 50%;
*/