.principal {
    font-size: 27px;
    color: black;
    font-weight: 600;
}

button {
    color: white; 
    border-radius: 10px;
    background-color: white;
    width: 35px; 
    height: 35px;
    text-align: center;
}


.logo {
    background-color: transparent;
    width: 100px; 
    height: 40px;
    text-align: center;
    border: none;
}

img {
    vertical-align: top;
}